name: Pipeline DevOps do Controle de Estoque

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Copiar o código para dentro do container do ubuntu
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Instalar as dependências
        run: npm install

      - name: Executar os testes
        run: npm test